<div   class="fribbon"  >
 <a href={{.Site.Params.IEEE}} target="_blank"><img src="../../ieee.jpeg" width="30" height="30" title="IEEE"             alt="IEEE"            ></a>
 <a href={{.Site.Params.RG}}   target="_blank"><img src="../../rg.png"    width="30" height="30" title="Research Gate"    alt="Research Gate"   ></a>
 <a href={{.Site.Params.SS}}   target="_blank"><img src="../../ss.png"    width="30" height="30" title="Semantic Scholar" alt="Semantic Scholar"></a>
 <a href={{.Site.Params.AEDU}} target="_blank"><img src="../../aedu.png"  width="30" height="30" title="Academia.edu"     alt="Academia.edu"    ></a>
 <a href={{.Site.Params.PWC}}  target="_blank"><img src="../../pwc.jpeg"  width="30" height="30" title="paperswithcode"   alt="paperswithcode"  ></a>
 <a href={{.Site.Params.DAI}}  target="_blank"><img src="../../dai.png"   width="30" height="10" title="DeepAI"           alt="DeepAI"          ></a>
</div>
