<div   class="hribbon"  >
 <a href={{.Site.Params.LinkedIn}} target="_blank"><img src="../../linkedin.png" width="30" height="30" title="LinkedIn"       alt="LinkedIn"      ></a>
 <a href={{.Site.Params.Scholar}}  target="_blank"><img src="../../scholar.png"  width="30" height="30" title="Google Scholar" alt="Google Scholar"></a>
 <a href={{.Site.Params.Orcid}}    target="_blank"><img src="../../orcid.png"    width="30" height="30" title="ORCID"          alt="ORCID"         ></a>
 <a href={{.Site.Params.GitLab}}   target="_blank"><img src="../../gitlab.png"   width="30" height="30" title="GitLab"         alt="GitLab"        ></a>
 <a href={{.Site.Params.GitHub}}   target="_blank"><img src="../../github.png"   width="30" height="30" title="GitHub"         alt="GitHub"        ></a>
</div>
