<div   class="fribbon"  >
 <a href={{.Site.Params.IEEE}} target="_blank"><img class="iconlink" src="../../ieee.jpeg" title="IEEE"             alt="IEEE"            ></a>
 <a href={{.Site.Params.RG}}   target="_blank"><img class="iconlink" src="../../rg.png"    title="Research Gate"    alt="Research Gate"   ></a>
 <a href={{.Site.Params.SS}}   target="_blank"><img class="iconlink" src="../../ss.png"    title="Semantic Scholar" alt="Semantic Scholar"></a>
 <a href={{.Site.Params.AEDU}} target="_blank"><img class="iconlink" src="../../aedu.png"  title="Academia.edu"     alt="Academia.edu"    ></a>
 <a href={{.Site.Params.PWC}}  target="_blank"><img class="iconlink" src="../../pwc.jpeg"  title="paperswithcode"   alt="paperswithcode"  ></a>
 <a href={{.Site.Params.DAI}}  target="_blank"><img class="iconlink" src="../../dai.png"   title="DeepAI"           alt="DeepAI"          ></a>
</div>
