<div   class="hribbon"  >
 <a href={{.Site.Params.LinkedIn}} target="_blank"><img class="iconlink" src="../../linkedin.png" title="LinkedIn"       alt="LinkedIn"      ></a>
 <a href={{.Site.Params.Scholar}}  target="_blank"><img class="iconlink" src="../../scholar.png"  title="Google Scholar" alt="Google Scholar"></a>
 <a href={{.Site.Params.Orcid}}    target="_blank"><img class="iconlink" src="../../orcid.png"    title="ORCID"          alt="ORCID"         ></a>
 <a href={{.Site.Params.GitLab}}   target="_blank"><img class="iconlink" src="../../gitlab.png"   title="GitLab"         alt="GitLab"        ></a>
 <a href={{.Site.Params.GitHub}}   target="_blank"><img class="iconlink" src="../../github.png"   title="GitHub"         alt="GitHub"        ></a>
</div>
