{{ define "main" }}

<!-- section -->
<div class="section-one">
 <h2 class="responsiveH2"> Publications </h2>

 <!-- item -->
 <div id="one-1" class="section-one-info-block">
  <a href="https://ieeexplore.ieee.org/document/9158400" target="_blank"><img class="icon" src="pub1.png" title="view on IEEE OJAP"></a>
  <span class="pub">IEEE Open Journal of Antennas and Propagation (OJAP)</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../python.png" title="Python"><img class="iconsmall" src="../../TensorFlow.png" title="TensorFlow"><img class="iconsmall" src="../../matlab.png" title="Matlab"> 
  <span class="__dimensions_badge_embed__" data-doi="10.1109/OJAP.2020.3013830" data-hide-zero-citations="true" data-style="small_circle"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
  <p class="spacing"></p>
  <h4 class="responsiveH4"> <b> Physics-Informed Deep Neural Networks for Transient Electromagnetic Analysis </b></h4> 
  <a href="https://gitlab.com/oameed/unm_cem_dlfdtd" target="_blank"> [View Repository on GitLab]</a>
  <p class="spacing"></p>
  <p> <b>Abstract: </b>  In this paper, we propose a deep neural network based model to predict the time evolution of field values 
                         in transient electrodynamics. The key component of our model is a recurrent neural network, which learns 
                         representations of long-term spatial-temporal dependencies in the sequence of its input data. We develop 
                         an encoder-recurrent-decoder architecture, which is trained with finite difference time domain simulations 
                         of plane wave scattering from distributed, perfect electric conducting objects. We demonstrate that, the 
                         trained network can emulate a transient electrodynamics problem with more than 17 times speed-up in simulation 
                         time compared to traditional finite difference time domain solvers.
  </p>
 </div>

</div>

<!-- section -->
<div class="section-two">
 <h2 class="responsiveH2">Projects</h2>
 
  <!-- item -->
  <div id="two-1" class="section-two-info-block">
   <a href="https://gitlab.com/oameed/cem_fem_2d" target="_blank"><img class="icon" src="prj1.png" title="view on GitLab"></a>
   <span class="cem">Computational EM</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="iconsmall" src="../../python.png" title="Python"><img class="iconsmall" src="../../gmsh.png" title="Gmsh"> 
   <p class="spacing"></p>
   <h4 class="responsiveH4"> <b> Finite Element Method (FEM) for 2D Problems </b> </h4>
   <p class="spacing"></p>
   <p> This project demonstrates application of the FEM, using Linear Elements, to both dynamic and static problems. The electric 
       field (Ez) distribution for the TMz mode of 2D rectangular and circular cavities is chosen as an example of electrodynamic 
       problems and the 2D distribution of electrostatic potential for coaxial cable, shielded stripline and microstrip geometries 
       as an example of electrostatic problems.
   </p>
  </div>
  
  <!-- item -->
  <div id="two-2" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/cem_mom_2d" target="_blank"><img class="icon" src="prj2.png" title="view on GitLab"></a>
    <span class="cem">Computational EM</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="iconsmall" src="../../python.png" title="Python">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Method of Moments (MoM) for 2D Scattering and 1D Electrostatics </b> </h4>
    <p class="spacing"></p>
    <p> This project demonstrates application of MoM, also known as the Moment Method (MM) or the Boundary Element Method (BEM), 
        using Point Matching and piecewise constant basis functions, to Integral Equations (IE) describing both dynamic and static 
        problems. The 2D Electric Field Integral Equation (EFIE) for TMz polarization and 2D Magnetic Field Integral Equation (MFIE) 
        for TEz polarization as examples of electrodynamic problems and the electrostatic charge distribution for a conducting rod as 
        an example of electrostatic problems.
    </p>
  </div>
  
  <!-- item -->
  <div id="two-9" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/cem_fdm_2d" target="_blank"><img class="icon" src="prj9.png" title="view on GitLab"></a>
    <span class="cem">Computational EM</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../python.png" title="Python">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Finite Difference Method (FDM) for 2D Problems </b> </h4>
    <p class="spacing"></p>
    <p> This project demonstrates application of the FDM to the problem of electrostatic potential distribution in source less region.
    </p>
  </div>
  
  <!-- item -->
  <div id="two-3" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/unm_cs471_parallelprocessing_mpi" target="_blank"><img class="icon" src="prj6.png" title="view on GitLab"></a>
    <span class="cem">Parallel Computing</span> <span class="courseproject">course project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="iconsmall" src="../../python.png" title="Python">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> A Case Study in Parallel Computing: The Heat Equation </b> </h4>
    <p class="spacing"></p>
    <p> In this project, parallelization of matrix-vector multiplications, using Message Passing Interface (MPI), is studied in the context of the problem of integration, by implicit Euler method, of the sinusoidal solutions of the heat equation.
    </p>
  </div>
  
  <!-- item -->
  <div id="two-4" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/unm_ece541_adaptivefilter" target="_blank"><img class="icon" src="prj3.png" title="view on GitLab"></a>
    <span class="sigp">Signal Processing</span> <span class="courseproject">course project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="iconsmall" src="../../matlab.png" title="Matlab">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Adaptive Filtering Applied to Noise Cancellation </b> </h4>
    <p class="spacing"></p>
    <p> In this project, a source signal (sine wave) is corrupted with noise and then recovered using Normalized LMS (NLMS) and RLS 
        Algorithms. For a more practical problem, a sound signal is corrupted and recovered using the same algorithms.
    </p>
  </div>
  
  <!-- item -->
  <div id="two-5" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/ml_deeplearning_tf1x" target="_blank"><img class="icon" src="prj4.png" title="view on GitLab"></a>
    <span class="machinelearning">Deepl Learning</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../python.png" title="Python"><img class="iconsmall" src="../../TensorFlow.png" title="TensorFlow">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Deep Learning with TensorFlow 1X </b> </h4>
    <p class="spacing"></p>
    <p> This project is Tensorflow 1X implementations of a Generative Adverserial Network (GAN).
    </p>
  </div>
  
  <!-- item -->
  <div id="two-6" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/ml_deeplearning_pytorch" target="_blank"><img class="icon" src="prj5.png" title="view on GitLab"></a>
    <span class="machinelearning">Deepl Learning</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../python.png" title="Python"><img class="iconsmall" src="../../pytorch.png" title="Pytorch">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Deep Learning with PyTorch </b> </h4>
    <p class="spacing"></p>
    <p> This project is PyTorch implementations of a Generative Adverserial Network (GAN).
    </p>
  </div>
  
  <!-- item -->
  <div id="two-7" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/pl_cpp" target="_blank"><img class="icon" src="prj7.png" title="view on GitLab"></a>
    <span class="cem">Programming Language</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../c++.png" title="C++">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Programming Language: C++ </b> </h4>
    <p class="spacing"></p>
    <p> This project is a C++ implementation of the Finite Difference Method (FDM) applied to distribution of the electrostatic voltage inside a source less rectangular region.
    </p>
  </div>
  
  <!-- item -->
  <div id="two-8" class="section-two-info-block">
    <a href="https://gitlab.com/oameed/pl_julia" target="_blank"><img class="icon" src="prj8.png" title="view on GitLab"></a>
    <span class="cem">Programming Language</span> <span class="personalproject">personal project</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="iconsmall" src="../../julia.png" title="Julia">
    <p class="spacing"></p>
    <h4 class="responsiveH4"> <b> Programming Language: Julia </b> </h4>
    <p class="spacing"></p>
    <p> This project is a Julia implementation of the Finite Difference Method (FDM) applied to distribution of the electrostatic voltage inside a source less rectangular region.
    </p>
  </div>
  

  
  
</div>

{{ end }}
